ports/**/projects/** linguist-vendored=true
ports/**/codegentemp/** linguist-vendored=true
# ports/**/projects/*.X/** linguist-vendored=true
# ports/**/projects/*.cydsn/** linguist-vendored=true
# ports/**/projects/**/*.h linguist-vendored=true
# ports/**/projects/**/*.c linguist-vendored=true
# ports/**/**/projects/** linguist-vendored=true
# ports/*/projects/*.X/** linguist-vendored=true

# assets/** linguist-documentation=true
*Makefile* linguist-vendored=true
# *.mk linguist-vendored=true
*.i linguist-vendored=true
*.v linguist-language=v
v.mod linguist-language=v
*.aixt linguist-language=v
*.vsh linguist-language=v