.ports/Cypress/CY8CKIT-049-42XX/projects* linguist-detectable=false
.ports/Cypress/CY8CKIT-145-40XX/projects/*.c linguist-detectable=false
.ports/Microchip/PIC16F676/projects/*.c linguist-detectable=false