*.inc linguist-detectable=false
*.mk linguist-detectable=false
*.p1.d linguist-detectable=false
*.html linguist-detectable=false
*.P linguist-detectable=false
*.git linguist-detectable=false
*.i linguist-detectable=false
Makefile linguist-detectable=false