/ports/Microchip/Explorer16/PIC24/projects/Blinking2.X/build/
/ports/Microchip/Explorer16/PIC24/projects/Blinking2.X/dist/
/ports/Microchip/Explorer16/PIC24/projects/port_blink.X/dist/
/ports/Microchip/Explorer16/PIC24/projects/port_blink.X/build/
/ports/Microchip/Explorer16/PIC24/projects/LEDs.X/build/
/ports/Microchip/Explorer16/PIC24/projects/LEDs.X/dist/
/ports/Microchip/Explorer16/PIC24/projects/only_c.X/build/
/ports/Microchip/Explorer16/PIC24/projects/only_c.X/dist/
/ports/Microchip/Explorer16/PIC24/projects/prueba.X/build/
/ports/Microchip/Explorer16/PIC24/projects/prueba.X/dist/
/ports/Microchip/Explorer16/PIC24/projects/Blinking_C.X/dist/
/ports/Microchip/Explorer16/PIC24/projects/Blinking_C.X/build/
*.i