ports/Microchip/Explorer16/PIC24/projects/*.X/build/
ports/Microchip/Explorer16/PIC24/projects/*.X/dist/
ports/Microchip/PIC16F84A/projects/*.X/build/
ports/Microchip/PIC16F84A/projects/*.X/dist/
ports/Microchip/PIC16F628A/projects/*.X/build/
ports/Microchip/PIC16F628A/projects/*.X/dist/
ports/Microchip/PIC16F676/projects/*.X/build/
ports/Microchip/PIC16F676/projects/*.X/dist/
ports/Microchip/PIC16F873A/projects/*.X/build/
ports/Microchip/PIC16F873A/projects/*.X/dist/
ports/Microchip/PIC16F886/projects/*.X/build/
ports/Microchip/PIC16F886/projects/*.X/dist/
ports/Microchip/PIC18F452/projects/*.X/build/
ports/Microchip/PIC18F452/projects/*.X/dist/
ports/Microchip/PIC18F2550/projects/*.X/build/
ports/Microchip/PIC18F2550/projects/*.X/dist/
ports/Microchip/PIC16F676/projects/ADC.X/build/default/debug/
ports/Microchip/PIC16F873A/projects/PWM.X/build/default/debug/
*.i